@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;

.app {
  font-family: "AvenirNextLTPro", sans-serif;
  display: flex;
  flex-direction: column;
}
