@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.entry-list-item {
  &__date {
    font-family: "Trend Sans", sans-serif;
    font-size: 0.65rem;
    color: $black;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      flex-grow: 1;
      font-family: "Trend Sans", sans-serif;
      font-size: 0.65rem;
      color: $black;
      margin-right: 1rem;
    }

    .entry-list-item__buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .entry-list-item__edit-button,
      .entry-list-item__delete-button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 1.5rem;
        font-family: "Trend Sans", sans-serif;
        font-size: 0.8rem;
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
      }

      .entry-list-item__edit-button {
        background-color: $dark-green;
        color: white;
        width: 3.6rem;

        &:hover {
          background-color: #4f6b4c;
        }
      }

      .entry-list-item__delete-button {
        background-color: $pink;
        color: white;

        &:hover {
          background-color: #c95a70;
        }
      }
    }
  }
}
