@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.add-entry {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 20px;

  &__back-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: #638265;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include tablet {
      top: 4rem;
      left: 4rem;
    }

    @include desktop {
      top: 6rem;
      left: 9rem;
      width: 4rem;
      height: 4rem;
    }
  }

  &__header {
    margin-top: 20px;

    img {
      width: 300px;
      margin-bottom: -4rem;

      @include tablet {
        width: 500px;
        margin-bottom: -8rem;
      }
    }
  }

  &__title {
    font-family: "Trend Sans", sans-serif;
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 10px;
  }

  &__quote {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20rem;

    @include tablet {
      width: 33rem;
    }

    p {
      font-family: "Trend Sans", sans-serif;
      color: #000;
      font-size: 0.66rem;
      margin: 0;
      text-align: left;
      padding: 0 0.5rem;
    }
  }

  &__change-button {
    background-color: #638265;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: "Trend Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #4f6b4c;
    }
  }

  &__form {
    margin-top: 20px;
    width: 100%;
  }

  &__textarea {
    width: 19.5rem;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f2e1;
    border: none;
    font-family: "Trend Sans", sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    resize: none;

    @include tablet {
      width: 32rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 7rem;

    @include tablet {
      margin-bottom: 10rem;
    }
  }

  &__submit-button,
  &__cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-family: "Trend Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
  }

  &__submit-button {
    background-color: #638265;
    color: white;
    width: 11.5rem;

    @include tablet {
      width: 24rem;
    }

    &:hover {
      background-color: #4f6b4c;
    }
  }

  &__cancel-button {
    background-color: #e36a88;
    color: white;

    &:hover {
      background-color: #c95a70;
    }
  }

  &__bottom-decorations {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;

    img {
      width: 7rem;
      height: auto;

      @include tablet {
        width: 15rem;
      }

      @include desktop {
        width: 25rem;
      }
    }
  }
}

.submit__success {
  background: lightgreen;
  padding: 1.25rem;
  border-radius: 0.313rem;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}
