@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.home {
  background-color: $beige;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;

  &__left-image,
  &__right-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
  }

  &__left-image {
    left: -100%;
  }

  &__right-image {
    right: -100%;
  }

  .slide-in-left {
    transform: translateY(-50%) translateX(2%);
    opacity: 1;
    left: 0;
  }

  .slide-in-right {
    transform: translateY(-50%) translateX(-2%);
    opacity: 1;
    right: 0;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 1.25rem;
    height: 20rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }

  &__button {
    background-color: $light-green;
    color: white;
    font-family: "Trend Sans", sans-serif;
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $mid-green;
    }
  }

  &__text {
    color: $dark-green;
    font-family: "Trend Sans", sans-serif;
    font-size: 0.9rem;
    width: 18rem;
  }
}
